.calendarContainer {
  --border-gray: rgba(208, 210, 215, 1);
}

.calendarContainer * {
  font-family: inherit;
}

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  border-bottom: 1px solid var(--border-gray);
}

.calendar .day {
  border-left: 1px solid var(--border-gray);
}

.dayOfWeek {
  text-align: center;
}

.day {
  border-top: 1px solid var(--border-gray);
  position: relative;
  width: 100%;
}

.day:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.day:focus {
  outline: black;
  outline-style: solid;
  outline-width: 2px;
  z-index: 1;
}

.day[aria-selected='true'] {
  background-color: orange;
}

.day:nth-of-type(7n) {
  border-right: 1px solid var(--border-gray);
}

.dayNumber {
  height: 24px;
  width: 24px;
  position: absolute;
  display: grid;
  place-items: center;
  right: 2px;
}

.row {
  display: flex;
  width: 100%;
}

.controls {
  display: flex;
  justify-content: space-between;
}

.controls .row:last-child {
  margin-left: 2rem;
  justify-content: flex-end;
}

.controls button {
  background: black;
  border: none;
  color: #fff;
  padding: 8px 16px;
  text-transform: uppercase;
  outline: none;
}

.controls button:focus {
  box-shadow: inset 0 0 0 2px orange;
}

.controls select {
  font-size: 18px;
  width: fit-content;
}

.subgrid {
  grid-column: span 7;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-columns: subgrid;
}
