.button {
  padding: 0.5rem 2rem;
  border: none;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
  color: #fff;
}

.button::before {
  content: '';
  display: block;
  width: 12px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  left: -24px;
  top: 0;
  opacity: 0;
  transform: skewX(-15deg);
  filter: blur(8px);
}

.button:hover::before {
  animation: shimmer 1s infinite ease-out;
}

@keyframes shimmer {
  from {
    opacity: 0;
    left: -24px;
  }
  to {
    opacity: 0.6;
    left: calc(100% + 12px);
  }
}
