.datePicker {
  position: relative;
  display: inline-flex;
  align-items: center;
}

.dateInput {
  padding: 4px 8px;
  text-align: center;
  min-width: 11ch;
  border: none;
  outline: none;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  border-bottom-left-radius: 4px;
}

.dateInput::-webkit-calendar-picker-indicator {
  display: none;
}

.icon {
  display: grid;
  place-items: center;
  background-color: black;
  color: white;
  padding: 6px;
  border-top-right-radius: 4px;
}

.icon > svg {
  height: 16px;
  width: 16px;
}
